@import './base.less';

//主色渐变
@pcolor-1:mix(@pcolor, #fff, 10%);
@pcolor-2:mix(@pcolor, #fff, 20%);
@pcolor-3:mix(@pcolor, #fff, 40%);
@pcolor-4:mix(@pcolor, #fff, 60%);
@pcolor-5:mix(@pcolor, #fff, 80%);
@pcolor-6:@pcolor;
@pcolor-7:mix(@pcolor, #000, 80%);
@pcolor-8:mix(@pcolor, #000, 60%);
@pcolor-9:mix(@pcolor, #000, 40%);
@pcolor-10:mix(@pcolor, #000, 20%);

// @lcolor: #1890ff; // 链接色
// @scolor: #46B1A4; // 成功色
// @wcolor: #F5AC08; // 警告色
// @ecolor: #FA5247; // 错误色